.frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}
.webcam__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 50rem) {
  .container {
    flex-direction: column;
  }
}
