.background {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 4em;
  font-weight: 600;
  color: white;
  text-align: left;
  margin-bottom: 7em;
}
.title p {
  font-size: 0.5em;
}
.startBtn {
  margin-top: 10em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-color: #f37423;
  color: white;
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: 14em;
  height: 3em;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 600;
}

.startBtn:hover {
  cursor: pointer;
}
