.loadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 400px auto 400px;
  grid-template-rows: 70px 30px auto;
  height: 100vh;
  grid-template-areas:
    "header  header  header"
    "toolbar toolbar toolbar"
    "   a     main     b   ";
  row-gap: 10px;
  column-gap: 10px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 10px 15px 10px;
  font-size: 20px; */
  background-color: #2c2c2c;
  color: #d2dae3;
}

.logo {
  display: flex;
}

.toolbar {
  grid-area: toolbar;
}

.sidebarA {
  grid-area: a;
  background-color: blanchedalmond;
  overflow: auto;
}

.sidebarA::-webkit-scrollbar {
  visibility: hidden;
  cursor: pointer;
  width: 8px;
  height: 10px;
}

.sidebarA::-webkit-scrollbar-thumb {
  visibility: hidden;
  cursor: pointer;
  background-color: white; /*스크롤바의 색상*/
  border: 1px solid white;
}
.sidebarA:hover::-webkit-scrollbar {
  visibility: visible;
  cursor: pointer;
  width: 8px;
}

.sidebarA:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  cursor: pointer;
  background-color: #9d9d9d; /*스크롤바의 색상*/
  border: 1px solid grey;
  border-radius: 10px;
}

.bodyContainer {
  display: flex;
  /* height: 100vh; */
  width: 100%;
}

.wishlist {
  padding-left: 10px;
}

.containerProduct {
  height: 100px;
  width: 100%;
  display: flex;
  border: 1px solid black;
  margin-top: 5px;
  /* margin: 3px; */
  justify-content: space-between;
}

.producctInfo {
  display: flex;
  margin: 3px;
}

.productImg {
  height: 100%;
  width: 100px;
  border: 1px solod black;
  border-radius: 10%;
}

.productAddbtn {
  height: 100%;
  width: 50px;
}

.main {
  grid-area: main;
  background-color: cadetblue;
}

.canvas {
  width: inherit;
  height: inherit;
  z-index: 10;
}

.sidebarB {
  grid-area: b;
}

.video_container {
  display: flex;
  flex-direction: column;
}

.user1 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.user1:hover > .control_box1 {
  visibility: visible;
  z-index: 10;
  position: absolute;
  /* bottom: 10px; */
  display: flex;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  /* margin: auto; */
  bottom: 10px;
  background-color: transparent;
  /* transition: all ease 2s 0s; */
  animation: fadeIn 0.3s ease-in-out;
}
.control_box1 {
  visibility: hidden;
}

.controlBtn {
  font-size: 20px;
  background-color: transparent;
}

.video1 {
}

.video2 {
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 3;
    transform: translate(-50%);
  }
}
