@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.slider__container {
  width: 70%;
  margin: auto;
  height: 700px;
}

.slide {
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border: 5px solid orange;
  transform: scale(0.3);
  transition: transform 300ms;
  opacity: 0.5;
  /* width: 100px; */
  height: 340px;
  width: auto;
  padding: 1em;
  /* border-radius: 50%; */
  border-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 160, 19)) 1;
}
.slide p {
  margin-top: 2.5em;
  color: orange;
  font-size: 45px;
}

.activeSlide {
  transform: scale(1);
  border-image: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 251, 0)) 1;
  border-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 145, 0)) 1;
  opacity: 1;
}
.activeSlide:hover {
  cursor: pointer;
}
.arrow {
  background-color: none;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  width: 20px;
  height: 20px;
}
.arrow svg {
  transition: color 300ms;
  color: rgb(248, 135, 29);
}
.arrow__i {
  font-size: 35px;
  font-weight: 600;
}
.next {
  right: 0%;
  top: 50%;
}
.prev {
  left: 0%;
  top: 50%;
}
