/* body {
  margin: 0;
  padding: 0;
} */

/* button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} */
.flexBox {
  display: flex;
  width: 100%;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.title p {
  font-size: 100px;
  color: black;
  margin: 0;
  cursor: default;
  -webkit-text-stroke: calc(0.005em + 1px) rgb(0, 0, 0);
}
.slider {
  display: flex;
  flex: 5;
}
.collectionSets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collectionSet {
  width: 200px;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collectionImgTop {
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 3;
}
.collectionImgBottom {
  position: absolute;
  top: 150px;
  height: 200px;
  width: 200px;
  z-index: 2;
}

.collectionImgShoes {
  position: absolute;
  top: 300px;
  height: 150px;
  width: 150px;
}
.collectionSmallImgTop {
  width: 100px;
  height: 100px;
}
.collectionSmallImgBottom {
  width: 100px;
  height: 100px;
}
.collectionSmallImgShoes {
  width: 100px;
  height: 100px;
}

.itemImg {
  display: block;
  height: 30vh;
  width: 100%;
}

.sectioImg {
  width: 100%;
  overflow: hidden;
}

.articleImg {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}

.articleImg.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.imgContainer {
  width: 100%;
}

.imgUl {
  display: flex;
  background: red;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/* li {
  width: 100%;
  background: blue;
}

li:nth-child(2) {
  background: green;
}

li:nth-child(3) {
  background: yellow;
} */

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
